<<<<<<< HEAD
=======
<% if user_signed_in? %>
  <h1>welcome to attr_reader</h1>

  <a href="/search" >Search database for books already added</a><br>
    <a href="/<%= @user %>/add_a_book" >Add a book from API!</a><br>
    <a href="/<%= @user %>/book_list" >Detailed Book List</a><br>
    <a href="/<%= @user %>" >My Bookshelf</a><br>
    <br><%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<% else %>

<% end %>
>>>>>>> 77e71765179ae7596a79f3d81ebdacf8add3e5f2
