

<% if user_signed_in? %>
  <h1>welcome to attr_reader</h1>
  <a href="/search" >Search for book</a>
  <a href="/<%= @user %>" >Your profile</a>
  <a href="/<%= @user %>/add_a_book" >Add a book!</a>
<% else %>
<a href="/login" >login</a>


<% end %>
