/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#bookshelf {
  position: relative;
  height: 200px;
}

#bookshelf > div {
  position: absolute;
  width: 200px;
  height: 20px;
  display: block;
  background-size: auto;
  transform: rotate(270deg);
  text-align: center;
  top: 100px;
}

.alert,.notice{
   display: inline;
 }
 body{
   margin: 0px;
 }
 .logo{
   font-family: 'Nova Flat', cursive;
 }
 .navbar{
   display: flex;
   background: #e74c3c;
   height: 60px;
   font-family: 'Nova Flat', cursive;
 }
 .navitem{
   flex: 1;
   position: relative;
   top: 2vh;
   font-size: 1.7em;
   margin-left:5vw; 
 }
 .navitem a{
   text-decoration: none;
   color: white;
 }
 .dropdown-content {
     display: none;
     z-index: 1;
     color: black;
     font-size: 0.7em;
 }
 .dropdown-content a{
   color: black;
 }
 .dropdown:hover .dropdown-content {
     display: inline-block;
 }
 @media only screen and (max-width: 800px) {
   .navbar{
     height: 40px;
   }
   .navitem{
     font-size: 1.5em;
     top: 1.5vh;
   }
 }
 @media only screen and (max-width: 500px) {
   .navitem{
     font-size: 1.2em;
     margin-left:3vw; 
   }
