// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.searchbar{
	text-align: center;
	font-family: 'Nova Flat', cursive;
 	margin-top: 100px;
}
.partyform{
	margin-left: 20vw;
}
.findsubmit{
	max-width: 175px;
	font-size: 1.1em;
	background: #3498db;
	border: #3498db;
	color: white;
	border-radius: 10px;
	padding: 10px 0px 10px 0px;
}
.findbooks{
	margin: 0px 5vw 0px 5vw;
	text-align: justify;
}
.addbook{
	margin-left: 30vw;
}
.findtitle,.profilebody{
	text-align: center;
    list-style: none;
}
.indexbooklist{
	text-align:center;
	list-style-type: none;
}
.searchul{
	list-style-type:none;
	margin-right: 5vw;
	line-height: 20px;
}
.searchbutton{
	background: #e74c3c;
	border: #e74c3c;
}
.profilemain{
	background: url('https://images.unsplash.com/photo-1485359466996-ba9d9b4958b9?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=');
	background-repeat: no-repeat;
	position: absolute;
	padding-top:60px;
	width: 100vw;
	height: 103vh;
	background-size: 100vw 111vh;
	text-align: center;
}

.profilecontent{
	background: white;
  color: black;
  opacity: 0.7;
	margin-left: 20vw;
	margin-right: 25vw;
	height: 90vh;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
}
.navbar{
	opacity: 1.0;
}
.profilebody1{
	background: rgba(0,0,0,0.5);
	background-image: url('http://www140.lunapic.com/do-not-link-here-use-hosting-instead/149309782255125?2704192702');
	background-repeat: no-repeat;
	background-size: 100vw 140vh;
}
.booksadd{
	background: url('http://www140.lunapic.com/do-not-link-here-use-hosting-instead/149309782255125?105421980');
	background-repeat: no-repeat;
	background-size: 100vw 140vh;
}

@media screen and (max-width: 430px){
	.partyform,.addbook{
		margin-left: 0vw;
	}.findsubmit{
		margin-left: 4vw;
	}
	input{
		margin-left: 3vw;
		width: 90vw;
	}
	.searchul{
		max-width: 70vw;
	}
}


