<head>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>
<footer class="group">
  <div class="footer_links">
    <ul>
      <li>
        <a href="#">About Us</a>
      </li>
      <li>
        <a href="#">FAQ</a>
      </li>
      <li>
        <a href="#">Contact Information</a>
      </li>
    </ul>
  </div>
  <div class="copy_info">
    <h3>Attr_Reader</h3>
    <p>WDI BRJM &copy; 2017</p>
  </div>
</footer>
