<footer class="group">
  <div class="footer_links">
    <ul>
      <li>
        <a href="#">Test Link</a>
      </li>
      <li>
        <a href="#">Book List</a>
      </li>
      <li>
        <a href="#">FAQ</a>
      </li>
      <li>
        <a href="#">Contact Information</a>
      </li>
    </ul>
  </div>
  <div class="copy_info">
    <h3>Attr_reader</h3>
    <p>WDI Shobills &copy; 2017</p>
  </div>
</footer>
